.input {
  width: 100%;
  padding: var(--spacing-md);
  background-color: var(--color-inputs);
  border: 1px solid var(--color-gray-light);
  border-radius: var(--radius-sm);
  font-family: var(--font-family);
  font-size: var(--font-size-button);
  color: var(--color-main);
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: var(--color-button);
  outline: none;
}

.input::placeholder {
  color: var(--color-gray);
}

.input[type="textarea"] {
  resize: vertical;
  min-height: 100px;
}
